body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.title {
    margin: 4px;
}

p.description {
    margin: 8px; 
}

.reset {
    margin: 3px; 
}

.container {
    display: flex;
    background-color: pink;
    flex-direction: column;
    width: 520px; 
    height: 520px; 
    justify-content: center; 
    align-items: center;
    margin: 20px; 
}

.row {
    display: flex; 
    flex-direction: row;
}

.square {
    border-radius: 2px;
    background-color: aliceblue;
    margin: 1px; 
    width: 30px; 
    height: 30px
}
